body {
  font-family: Montserrat;
}
.left-container {
  background: #1e2939;
  width: 370px;
  height: 1320px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.photo {
  width: 370px;
  height: 354px;
  margin-top: 40px;
}

.contacts {
  font-size: 14px;
  color: #ffffff;
}

.left-title {
  font-size: 22px;
  margin: 0;
  margin-top: 50px;
  margin-left: 40px;
  color: #ffffff;
}

.contacts-2 {
  display: flex;
  margin-top: 8px;
  margin-left: 40px;
}

.phone-email {
  margin-left: 12px;
  text-decoration: none;
  color: grey;
}

.left-list {
  margin-top: 3px;
  margin-left: 40px;
  font-size: 14px;
  color: #ffffff;
}
