body {
  font-family: Montserrat;
}
.left-container {
  background: #1e2939;
  width: 370px;
  height: 1320px;
  margin-left: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.photo {
  width: 370px;
  height: 354px;
  margin-top: 40px;
}

.contacts {
  font-size: 14px;
  color: #ffffff;
  margin-left: 40px;
}

.left-title {
  font-size: 22px;
  margin: 0;
  margin-top: 50px;
  color: #ffffff;
  font-weight: 700;
}

.contacts-2 {
  display: flex;
  margin-top: 8px;
  line-height: 24px;
}

.phone-email {
  margin-left: 12px;
  text-decoration: none;
  color: grey;
}

.left-list {
  margin-left: -21px;
  font-weight: 400;
  margin-top: 3px;
  font-size: 14px;
  color: #ffffff;
  line-height: 24px;
  padding-left: 5px;
  color: #FB6D3A ;
}
li span{
  color: #ffffff;
}

.tech-skills{
  margin-left: 40px;
}
.soft-skills{
  margin-left: 40px;  
}
